NEXT_PUBLIC_AWS_REGION=ap-southeast-1
NEXT_PUBLIC_COGNITO_USER_POOL_ID=ap-southeast-1_example
NEXT_PUBLIC_COGNITO_CLIENT_ID=example-client-id
NEXT_PUBLIC_CONTENT_API_URL=https://content-api.example.com
NEXT_PUBLIC_USERS_API_URL=https://users-api.example.com
